@model DirectoryTwo.Models.DirectoryEntry

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>DirectoryEntry</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Prot)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Prot)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SubDom)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SubDom)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Dom)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Dom)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TopDom)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TopDom)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SiteName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SiteName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SiteType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SiteType)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
